.clockbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clockcircle{
    background-image: url(https://thumbs.dreamstime.com/z/clock-face-hour-dial-numbers-dashes-mark-minutes-hours-simple-flat-vector-illustration-124186026.jpg);
    background-size: 123%;
    background-position: 49% 37%;
    height: 500px;
    width: 500px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotatez(1deg);
    position: relative;
    background-color:black;
}

.clockcenter{
    height: 30px;
    width: 30px;
    background-color: rgb(48, 47, 47);
    /* border: 1px solid red; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .secondspin{
    position: absolute;
    top: 60px;
    left: 248px;
    height: 185px;
    width: 5px;
    background-color: black;
    transform: rotate(35deg);
    transform-origin: 2.5px 190px;
    border-radius: 50%;
}


.minutes{
    position: absolute;
    top: 93px;
    left: 249px;
    height: 150px;
    width: 8px;
    background-color: black;
    transform: rotate(35deg);
    transform-origin: 4px 150px;
    border-radius: 20%;
}
.Hours{
    position: absolute;
    top: 118px;
    left: 241px; 
    height: 120px;
    width: 10px;
    background-color: black;
    transform: rotate(35deg);
    transform-origin: 5px 130px;
    border-radius: 10%
}
.pointer{
    height: 65%;
    width: 65%;
    background-color: black;
    border-radius: 50%;
}